@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500&display=swap');

.App {
  text-align: center;
  background-color: #323031;
}

.App-header {
  background-color: #323031;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.headline {
  font-size: xx-large;
}
